.underlined-header {
  position: relative;
  display: inline-block;
}

.underlined-header::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -2px;
  right: -2px;
  height: 2px;
  background-color: #666;
}

.underlined-header::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  right: -2px;
  height: 1px;
  background-color: #666;
}
