.component-section {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.component-section-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
